@model IEnumerable<CapaInfraestructura.CapaDominio.Entities.EstadosEvento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEstadoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionEstadoEvento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEstadoEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionEstadoEvento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEstadoEvento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEstadoEvento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEstadoEvento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
