@model IEnumerable<CapaInfraestructura.CapaDominio.Entities.EstadosEvento>

@{
    ViewData["Title"] = "Lista de estados para eventos";
}

<a class="btn btn-primary my-3" asp-action="Create">Agregar estado</a>

@if(Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>
                        Nombre del Estado
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreEstadoEvento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescripcionEstadoEvento)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdEstadoEvento">Editar</a> |
                            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.IdEstadoEvento">Ver más</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdEstadoEvento">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
else
{
    <h2>No hay estados registrados</h2>
}