@model CapaInfraestructura.CapaDominio.Entities.Evento

@{
    ViewData["Title"] = "Detalles del evento";
}

<section>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <article class="card shadow">
                <div class="card-header">
                    <h2>Detalles del evento</h2>
                </div>
                <div class="card-body">
                    <p>
                        <strong>Nombre del evento:</strong> @Html.DisplayFor(model => model.NombreEvento)
                    </p>

                    <p>
                        <strong>Fecha:</strong> @Html.DisplayFor(model => model.FechaEvento)
                    </p>
                    <p>
                        <strong>Total tickets:</strong> @Html.DisplayFor(model => model.CantidadTotalTickets)
                    </p>
                    <p>
                        <strong>Descripción:</strong> @Html.DisplayFor(model => model.DescripcionEvento)
                    </p>
                    <p>
                        <strong>Total:</strong> @Html.DisplayFor(model => model.Tickets.Count)
                    </p>
                    <p>
                        <strong>Estado:</strong>
                        @Html.DisplayFor(model => model.EstadoEventoIdEstadoEventoNavigation.NombreEstadoEvento), 
                        @Html.DisplayFor(model => model.EstadoEventoIdEstadoEventoNavigation.DescripcionEstadoEvento)
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.IdEvento">Editar</a> |
                    <a class="btn btn-secondary" asp-action="Index">Volver</a>
                </div>
            </article>
        </div>
        <div class="col-sm-6">
            Listado de tickets
        </div>
    </div>
</section>