@model IEnumerable<CapaInfraestructura.CapaDominio.Entities.Evento>

@{
    ViewData["Title"] = "Lista de eventos";
    int i = 1;
}

<a class="btn btn-primary my-3" asp-action="Create">Agregar evento nuevo</a>

@if(Model.Count() > 0)
{    
    <table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nombre
            </th>
            <th>
                Fecha
            </th>
            <th>
                Total de tickets
            </th>
            <th>
                Estado
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadTotalTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoEventoIdEstadoEventoNavigation.NombreEstadoEvento)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdEvento">Edit</a> |
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.IdEvento">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdEvento">Delete</a>
            </td>
                </tr>
                i++;
            }
    </tbody>
    </table>
}
else
{
    <h2>No hay Eventos Creados</h2>
}