@model IEnumerable<CapaInfraestructura.CapaDominio.Entities.CategoriasTicket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoriaTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionCategoriaTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescuentoAplicable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoriaTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCategoriaTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescuentoAplicable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategoriaTicket">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCategoriaTicket">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCategoriaTicket">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
